DATABASE_NAME=dip-flix
MONGODB_URI=mongodb://localhost:27017/
SECRET_KEY=your_secret_key
SECRET_REFRESH_KEY=your_refresh_secret_key
BASE_PROMPT_TEMPLATE=Return a response using one of these words: {rankings}. The response should be a single word and should not contain any other text. The response should be based on the following review: {}
GEMINI_API_KEY=your_gemini_api_key